<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 

 <div id="login-box">
 	<div class="app-title">
		<h1>Cryptocurrency Transaction Analysis</h1>
    </div>
      <div class="left-box">
        <h1> Sign Up</h1>
          
          <input type="text" name="username" placeholder="Username"/>
          <input type="text" name="email" placeholder="Email"/>
          <input type="password" name="password" placeholder="Password"/>
        
          <input type="password" name="password2" placeholder="Retype password"/>
        
          <input type="submit" name="signup-button" value="Sign Up"/>
        
        </div>
        <div class="right-box">
          <h1><span class="login">Sign in<br/>   </span></h1>
        
        <form action="/home" method="POST">
        <div class="login-form">
				<div class="social facebook">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="social twitter">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block social google" >
			    <br>
			</div>
            </form>
        
        </div>
        <div class="or">OR</div>
    </div>
 
{% endif %}
{% endblock %}
