<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
 
 <div class="topnav">
 	<div class="leftText"><a href="/home">Home</a></div>
 	<div class="leftText"><a href="#">About</a></div>
 	<div class="contactText"><a href="#">Contact</a></div>
 </div>
 <div class="logoutText"><a href="/logout">Logout</a></div>
<div class="content">
</div>
</body>
</html>